/******* HELPERS *******/
.hide {
	display: none !important;
}
.pass {
	background: #4d914c;
}
.fail {
	background: #d15454;
}

/******* BASE STYLING *******/

* {
	color: #FEFEFE;
	font-family: 'Share Tech Mono', monospace;
}
button {
	border-radius: 10px;
	border: 3px solid transparent;
	padding: 0.5rem 1rem;
	background: rgba(0,0,0,0.5);
}
/******* HEADER *******/

html {
	background: url(../img/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
header {
	background: rgba(0,0,0,0.5);
}
.title {
	margin-left: 1rem;
}
.sub-title {
	font-size: 1rem;
	color: #DDD;
	margin-left: 1rem;
}
/******* MAIN CONTENT *******/

.question-wrapper {
	background: rgba(0,0,0,0.5);
	border-radius: 10px;
}
.start-quiz, input[type="submit"] {
	background: rgba(0,255,0,0.2);
}
.start-quiz:hover, input[type="submit"]:hover {
	background: rgba(0,255,0,0.4);
	border: 3px solid rgba(255,255,255,1);
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
}
.quit-quiz {
	background: rgba(255,0,0,0.2);
}
.quit-quiz:hover {
	background: rgba(255,0,0,0.4);
	border: 3px solid rgba(255,255,255,1);
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
}
.answer-btn {
	color: #0C0;
	height: 20%;
}